<style>
  .alert{
    margin: 0 !important;
  }
</style>
<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
  <strong>   
  <div class="d-flex justify-content-center">
  <ul class="mb-0">
    <% resource.errors.full_messages.each do |message| %>
        <li class="text-start"><%= message %></li>
    <% end %>
  </ul>
  </div>
  </strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>