<p style="color: green"><%= notice %></p>

<h1>Tourist guide items</h1>

<div id="tourist_guide_items">
  <% @tourist_guide_items.each do |tourist_guide_item| %>
    <%= render tourist_guide_item %>
    <p>
      <%= link_to "Show this tourist guide item", tourist_guide_item %>
    </p>
  <% end %>
</div>

<%= link_to "New tourist guide item", new_tourist_guide_item_path %>
